@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size:62.5%;
}

body {
	font-family: "Ubuntu",sans-serif;
	box-sizing: border-box;
	font-size: 1.6rem;
	line-height: 1.2;
	background-color: white;
}
.container {
	max-width: 120rem;
	margin:0 auto;
	padding:4rem;
}

.layout {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	grid-gap:2rem;
}
.heading {
	&__primary{
       text-align: center;
       margin-bottom: 3rem;
	}
	&__secondary {
       font-size: 2rem;
       margin-bottom: 1rem;
	}
}

.card {
	cursor:pointer;
	background-color: whitesmoke;
	border:1px solid #b1b1b1;
	padding:1.5rem 2rem;
	display: flex;
	flex-direction: column;
}
.button-container {
	display:flex;
	margin-top:4rem;
	width:100%;
	justify-content:center;

	& > *:not(:last-child) {
		margin-right: .5rem;
	}
}
.button-paginate {
	font-size: 1.6rem;
	padding:1rem;
	background-color:skyblue;
	color:white;
	border:1px solid blue;
	cursor:pointer;
	transition:all .5s ease;
	&:hover {
		background-color: #55f;
	}
}
.button-side {
	font-size: 1.6rem;
	padding:1rem;
	background-color: #0e76a8;
	border:1px solid #094a69;
	color:white;
	cursor:pointer;
	transition: all .5s ease;
	&:hover {
		background-color: #094a69;
	}
}



